*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}
html{
    border: solid 2px red;
}
body {
    border: solid 2px yellow;
}

ul{ 
    list-style: none;
}

#contenedor{
    width: 95%;
    margin: auto;
}
.logo{
    margin: 10px 0px;
    height: 200px;
}
.baner{
    width: 400px;
    height: 200px;
}


main{
    display: flex;
}
aside a{
    margin: 10px;
    display: block;
}
section{
    width: 80%;
    display: flex;
    flex-direction: column;
}
article{
    margin: 10px;
}
article img {
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 25%;
    float: left;
}
article p {
    text-align: justify;
}
footer {
    background-color: rgb(101, 52, 129);
    display: flex;
}
footer p {
    width: 90%;
    margin: 30px 20px;
    color: white;
}
footer div{
    margin: 10px;
    display: flex;
}
footer div img{
    padding-right: 10px;
    width: 50px;
}