.container{

    display: flex;
    background-color: teal;
    flex-direction: column  ;
}
p{

    margin: 5px;
    padding: 10px;
    text-align: justify;

}
.caja1{
    margin: 20px;
    background-color: bisque;
}
.caja2{
    margin: 20px;
    background-color: rgb(173, 173, 235);
}
.caja3{
    margin: 20px;
    background-color: rgb(187, 113, 113);

}

